In [1]:
import requests
import pandas as pd
import json

# Current Pollution Stats API

In [2]:

response = requests.get('http://api.airvisual.com/v2/nearest_city?key=33668491-cb6b-4c78-bd5f-1aaf9449c850')
response

In [3]:
results = response.json()
results

{'status': 'success',
 'data': {'city': 'Mitte',
  'state': 'Berlin',
  'country': 'Germany',
  'location': {'type': 'Point', 'coordinates': [13.40489, 52.52003]},
  'current': {'pollution': {'ts': '2023-06-13T09:00:00.000Z',
    'aqius': 63,
    'mainus': 'p2',
    'aqicn': 33,
    'maincn': 'p1'},
   'weather': {'ts': '2023-06-13T10:00:00.000Z',
    'tp': 23,
    'pr': 1005,
    'hu': 36,
    'ws': 8.23,
    'wd': 40,
    'ic': '01d'}}}}

In [4]:
data = pd.DataFrame(results)

In [5]:
data

           status                                               data
city      success                                              Mitte
country   success                                            Germany
current   success  {'pollution': {'ts': '2023-06-13T09:00:00.000Z...
location  success  {'type': 'Point', 'coordinates': [13.40489, 52...
state     success                                             Berlin

In [6]:
from pandas import json_normalize

results = response.json()
flattened_data = json_normalize(results)

flattened_data.T

                                                      0
status                                          success
data.city                                         Mitte
data.state                                       Berlin
data.country                                    Germany
data.location.type                                Point
data.location.coordinates          [13.40489, 52.52003]
data.current.pollution.ts      2023-06-13T09:00:00.000Z
data.current.pollution.aqius                         63
data.current.pollution.mainus                        p2
data.current.pollution.aqicn                         33
data.current.pollution.maincn                        p1
data.current.weather.ts        2023-06-13T10:00:00.000Z
data.current.weather.tp                              23
data.current.weather.pr                            1005
data.current.weather.hu                              36
data.current.weather.ws                            8.23
data.current.weather.wd                              40
data.current.weather.ic                             01d

In [75]:



SunRS = requests.get('https://api.sunrise-sunset.org/json?lat=36.7201600&lng=-4.4203400&date=today')
SunRS

In [76]:
rs = SunRS.json()
rsdata = json_normalize(rs)

In [77]:
rsdata.columns

Index(['status', 'results.sunrise', 'results.sunset', 'results.solar_noon',
       'results.day_length', 'results.civil_twilight_begin',
       'results.civil_twilight_end', 'results.nautical_twilight_begin',
       'results.nautical_twilight_end', 'results.astronomical_twilight_begin',
       'results.astronomical_twilight_end'],
      dtype='object')

# Sun rise & Sun set data for particular long&lat today

In [74]:
rsdata[['results.sunrise', 'results.sunset','results.day_length']]

  results.sunrise results.sunset results.day_length
0      4:56:47 AM     7:38:38 PM           14:41:51

In [ ]:
#"https://www.balldontlie.io/api/v1/teams"

In [79]:
roni = requests.get('https://coronavirus.m.pipedream.net/')
roni

In [80]:
covid = roni.json()
roni = json_normalize(covid)

In [81]:
roni.columns

Index(['apiSourceCode', 'rawData', 'summaryStats.global.confirmed',
       'summaryStats.global.recovered', 'summaryStats.global.deaths',
       'summaryStats.china.confirmed', 'summaryStats.china.recovered',
       'summaryStats.china.deaths', 'summaryStats.nonChina.confirmed',
       'summaryStats.nonChina.recovered', 'summaryStats.nonChina.deaths',
       'cache.lastUpdated', 'cache.expires', 'cache.lastUpdatedTimestamp',
       'cache.expiresTimestamp', 'dataSource.url',
       'dataSource.lastGithubCommit', 'dataSource.publishedBy',
       'dataSource.ref'],
      dtype='object')

# COVID stats (Global)

In [87]:
roni[['summaryStats.global.confirmed', 'summaryStats.global.recovered','summaryStats.global.deaths']].T

                                       0
summaryStats.global.confirmed  676570149
summaryStats.global.recovered       None
summaryStats.global.deaths       6881804